---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Clínica Alexandra Palenzuela — Ginecología, Nutrición y Fisioterapia',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Hero image={{ src: '~/assets/images/portada.svg', alt: 'Logotipo Clínica Alexandra Palenzuela' }}>
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Creemos en una medicina basada en la evidencia y los últimos avances científicos, lo que nos permite ofrecer a
        cada paciente el abordaje más preciso. Incorporamos pruebas diagnósticas de última generación para encontrar la
        mejor salud para la mujer</span
      >
    </Fragment>
  </Hero>

  <!-- Ginecology Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Revisión ginecológica anual y citologías',
        description:
          'Realizamos revisiones ginecológicas anuales y citologías para asegurar la salud y bienestar de nuestras pacientes.',
        icon: 'tabler:wand',
      },
      {
        title: 'Estudio del metabolismo de estrógenos',
        description:
          'Realizamos estudios del metabolismo de estrógenos para comprender mejor la salud hormonal de nuestras pacientes.',
        icon: 'tabler:settings',
      },
      {
        title: 'Estudio del equilibrio de las bacterias vaginales',
        description:
          'Realizamos estudios del equilibrio de las bacterias vaginales para comprender mejor la salud vaginal de nuestras pacientes.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Disbiosis intestinal. Conoce tu microbiota',
        description:
          'Realizamos estudios de disbiosis intestinal para conocer mejor la microbiota de nuestras pacientes.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1691934338603-af553029aaa3?q=80&w=1112&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ginecología</h3>
    </Fragment>
  </Content>

  <!-- Nutrition Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Planes nutricionales personalizados',
        description:
          'Creamos planes nutricionales personalizados para cada paciente, adaptados a sus necesidades y objetivos específicos.',
        icon: 'tabler:list',
      },
      {
        title: 'Educación alimentaria para distintas etapas de la vida',
        description:
          'Brindamos educación alimentaria adaptada a las diferentes etapas de la vida, promoviendo hábitos saludables y bienestar integral.',
        icon: 'tabler:school',
      },
      {
        title: 'Tratamiento dietético para patologías (diabetes, obesidad, etc.)',
        description:
          'Ofrecemos tratamiento dietético especializado para diversas patologías, incluyendo diabetes, obesidad y otras condiciones, adaptado a las necesidades individuales de cada paciente.',
        icon: 'tabler:health-recognition',
      },
      {
        title: 'Asesoramiento en suplementación y hábitos saludables',
        description:
          'Ofrecemos asesoramiento en suplementación y hábitos saludables para mejorar el bienestar general de nuestras pacientes.',
        icon: 'tabler:treadmill',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1610415958681-7aabb05711f5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bnV0cmljaW9ufGVufDB8MXwwfHx8Mg%3D%3D',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Nutrición</h3>
    </Fragment>
  </Content>

  <!-- Fisioterapia Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Rehabilitación de suelo pélvico',
        description:
          'Ofrecemos programas de rehabilitación de suelo pélvico personalizados para mejorar la función y el bienestar de nuestras pacientes.',
        icon: 'tabler:wand',
      },
      {
        title: 'Tratamiento de dolores musculares y articulares',
        description:
          'Ofrecemos tratamiento especializado para dolores musculares y articulares, adaptado a las necesidades individuales de cada paciente.',
        icon: 'tabler:settings',
      },
      {
        title: 'Fisioterapia para embarazadas y postparto',
        description:
          'Ofrecemos programas de fisioterapia especializados para embarazadas y postparto, adaptados a las necesidades individuales de cada paciente.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Ejercicios de recuperación funcional y prevención de lesiones',
        description:
          'Ofrecemos ejercicios de recuperación funcional y programas de prevención de lesiones, adaptados a las necesidades individuales de cada paciente.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519823551278-64ac92734fb1?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Fisioterapia</h3>
    </Fragment>
  </Content>

  <!-- Obstetricia Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Planes nutricionales personalizados',
        description:
          'Creamos planes nutricionales personalizados para cada paciente, adaptados a sus necesidades y objetivos específicos.',
        icon: 'tabler:list',
      },
      {
        title: 'Educación alimentaria para distintas etapas de la vida',
        description:
          'Brindamos educación alimentaria adaptada a las diferentes etapas de la vida, promoviendo hábitos saludables y bienestar integral.',
        icon: 'tabler:school',
      },
      {
        title: 'Tratamiento dietético para patologías (diabetes, obesidad, etc.)',
        description:
          'Ofrecemos tratamiento dietético especializado para diversas patologías, incluyendo diabetes, obesidad y otras condiciones, adaptado a las necesidades individuales de cada paciente.',
        icon: 'tabler:health-recognition',
      },
      {
        title: 'Asesoramiento en suplementación y hábitos saludables',
        description:
          'Ofrecemos asesoramiento en suplementación y hábitos saludables para mejorar el bienestar general de nuestras pacientes.',
        icon: 'tabler:treadmill',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1610415958681-7aabb05711f5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bnV0cmljaW9ufGVufDB8MXwwfHx8Mg%3D%3D',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Obstetricia</h3>
    </Fragment>
  </Content>

  <!-- Servicio de consulta online -->
  <Hero
    tagline=""
    title="Servicio de consulta online"
    subtitle="Ponemos a tu alcance un servicio de consulta médica online, pensado para acompañarte y resolver todas tus dudas sobre salud femenina sin que tengas que desplazarte. <br /> <br />

A través de una videoconsulta directa con la Dra. Palenzuela, podrás recibir orientación personalizada, valorar resultados de pruebas o comentar cualquier síntoma que te preocupe, todo desde la comodidad y privacidad de tu hogar. <br /><br />

Ideal para consultas de seguimiento, revisión de analíticas o valoración de tratamientos."
    actions={[]}
    image={{
      src: '~/assets/images/consulta-online.webp',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->
  <BlogLatestPosts title="Más contenido en nuestro Blog" />
</Layout>
