---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Content from '~/components/widgets/Content.astro';
import Footer from '~/components/widgets/Footer.astro';
import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/Layout.astro';
import { footerData } from '~/navigation';

const metadata = {
  title: 'Rita Morales Hernández - Clínica Alexandra Palenzuela',
};
---

<Layout metadata={metadata}>
  <Header
    showLogo={false}
    links={[
      { text: 'Inicio', href: '/' },
      { text: 'Sobre mí', href: '#about' },
      { text: 'Experiencia Laboral', href: '#experience' },
      { text: 'Educación', href: '#education' },
      { text: 'Blog', href: '#blog' },
    ]}
    actions={[
      {
        text: 'Pedir cita',
        href: 'https://portal.clinicaenlanube.com/clinicas/925/cita_peticiones/new',
      },
    ]}
    isSticky
    showToggleTheme
    position="center"
  />
  <slot />

  <!-- Hero2 Widget ******************* -->
  <Hero id="hero" title="Rita Morales" tagline="Nutricionista" />

  <!-- Content Widget **************** -->
  <Content
    id="about"
    image={{
      src: '~/assets/images/rita.webp',
      alt: 'Imagen Rita Morales',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Sobre mí</h2>

      <p>
        Desde muy temprana edad, entorno a los 6 años, despertó en ella la vocación de sanar y el deseo de ayudar a las
        personas a mantenerse lo más sanas posibles.
      </p>
      <br />
      <p>
        Con los años esta inclinación la llevó a motivarse por cursar estudios de Medicina. Los realizó en la
        Universidad de La Laguna. Durante las prácticas de estudiante, al ver el primer parto decidió dedicarse a la
        práctica de la Ginecología y Obstetricia.
      </p>
      <br />
      <p>
        Actualmente desempeña su labor como Ginecóloga y Médico Integrativo en Casa de la Luz – Salud Integrativa, junto
        con un equipo multidisciplinar de profesionales siendo la Directora Médica de dicho centro.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Experiencia Laboral Widget ****************** -->
  <!--  <Steps
    id="experience"
    title="Experiencia laboral"
    items={[
      {
        title:
          'Control de la diabetes gestacional <br /> <span class="font-normal">Hospital de Vall`s de Hebrón</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: ``,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> -->

  <!-- Steps Widget ****************** -->
  <Steps
    id="education"
    title="Educación"
    items={[
      {
        title:
          'Máster Universitario en Entrenamiento y Nutrición Deportiva <br /> <span class="font-normal">Universidad Europea de Madrid</span>',
        description: ``,
        icon: 'tabler:school',
      },
      {
        title:
          'Graduada en Nutrición Humana y Dietética <br /> <span class="font-normal">Universidad Fernando Pessoa-Canarias (UFP-C)</span>',
        description: ``,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Testimonials Widget *********** -->
  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `She took our vague concept and turned it into a visual masterpiece that perfectly aligned with our goals. Her attention to detail and ability to translate ideas into compelling visuals exceeded our expectations.`,
        name: 'Mark Thompson',
        job: 'Creative director',
        image: {
          src: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `She transformed our brand identity with her creative finesse, capturing our essence in every element. Her dedication and talent truly shine through her work.`,
        name: 'Emily Martinez',
        job: 'CEO',
        image: {
          src: 'https://images.unsplash.com/photo-1554151228-14d9def656e4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=772&q=80',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `She has an uncanny ability to communicate emotions and stories. She crafted a logo for our NGO that not only represents our cause but also evokes empathy. Her professionalism and commitment make her a designer of exceptional caliber.`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      },
      {
        testimonial: `We entrusted Sarah with revamping our website's user interface, and the results were astounding. Her intuitive design sense enhanced user experience, leading to a significant increase in engagement. She's a designer who truly understands the synergy of aesthetics and functionality.`,
        name: 'Alex Foster',
        job: 'Director of web services',
        image: {
          src: 'https://images.unsplash.com/photo-1599566150163-29194dcaad36?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Alex Foster Image',
        },
      },
      {
        testimonial: `She took our vision and elevated it beyond imagination. Her ability to capture brand essence and translate it into design is nothing short of remarkable. Working with her has been an inspiring journey.`,
        name: 'Jessica Collins',
        job: 'Product Manager',
        image: {
          src: 'https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=778&q=80',
          alt: 'Jessica Collins Image',
        },
      },
      {
        testimonial: `Her ability to transform concepts into captivating visuals is nothing short of extraordinary. She took our event poster idea and turned it into a visual masterpiece that perfectly captured the essence of our festival. Sarah's dedication, creativity, and knack for delivering beyond expectations make her an invaluable asset to any project.`,
        name: 'Michael Carter',
        job: 'Event Coordinator',
        image: {
          src: 'https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Michael Carter Image',
        },
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts id="blog" title="Descubre más información en nuestro blog">
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
  <Footer {...footerData} />
</Layout>
